USE [master]
GO
/****** Object:  Database [WPF]    Script Date: 5/31/2020 9:29:18 PM ******/
CREATE DATABASE [WPF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WPF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.ALFIANSQLSERVER\MSSQL\DATA\WPF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WPF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.ALFIANSQLSERVER\MSSQL\DATA\WPF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WPF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WPF]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/31/2020 9:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
	[Role] [varchar](50) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
